
@media (max-width:600px) {
    #Project{
        padding: 0vw;
    }
    #dabba{
        display: block;
        /* background-color: aqua; */
    }
    /* #dabbabox{
        width: 200px;
        height: 350px;
    } */
}